<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Our Wedding | Cherish & Patrick</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Raleway" rel="stylesheet">
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
  </head>
  <body class="sidebar-collapse">
    <noscript>
      <strong>We're sorry but real-royal-wedding doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBew9tuo9p61ImHPbetOnrH7wPhzHCPQlc">
    </script>
  </body>
</html>
