<template>
  <navbar position="fixed"
          type="white"
          :transparent="transparent"
          :color-on-scroll="colorOnScroll"
          menu-classes="ml-auto">

    <template slot-scope="{toggle, isToggled}">
        <a href="/" class="nav-title">Cherish & Patrick</a>
    </template>

    <template slot="navbar-menu">

      <li class="nav-item">
        <router-link class="nav-link" to="#wie">
          <p>Wie</p>
        </router-link>
      </li>

      <li class="nav-item">
        <router-link class="nav-link" to="#people">
          <p>Mensen</p>
        </router-link>
      </li>

      <li class="nav-item">
        <router-link class="nav-link" to="#locatie">
          <p>Locatie</p>
        </router-link>
      </li>

    </template>
  </navbar>
</template>

<script>
  import Navbar from '../components/Navbar/Navbar';
  import NavbarToggleButton from '../components/Navbar/NavbarToggleButton';

  export default {
    name: 'main-navbar',

    props: {
      transparent: Boolean,
      colorOnScroll: Number
    },

    components: {
      Navbar,
      NavbarToggleButton,
    }
  };
</script>
