<template>
  <div class="maps-container">
    <h1 v-if="title">{{title}}</h1>

    <slot name="markerDetail"></slot>

    <div v-if="hasOverlay" class="maps-overlay"></div>
    <div id="map" class="map-element"></div>
  </div>
</template>

<script>
  export default {
    name: 'GoogleMaps',

    props: {
      title: {
        type: String,
      },
      hasOverlay: {
        type: Boolean,
        default: true
      }
    },

    methods: {
      loadMap() {
        const peerdegaerdt = {lat: 51.7300379, lng: 4.5246413};
        const map = new google.maps.Map(
          document.getElementById('map'), {
            zoom: 17,
            center: peerdegaerdt,
            disableDefaultUI: true,
            gestureHandling: 'none',
            zoomControl: false
          }
        );

        const marker = new google.maps.Marker({position: peerdegaerdt, map: map});
      }
    },

    mounted() {
      this.loadMap();
    }
  };
</script>

<style lang="scss">
  .maps-container {
    .maps-overlay {
      position: absolute;
      z-index: 99;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
    }

    .map-element {
      height: 600px;
      width: 100%;
    }

    .maps-location-detail {
      position: absolute;
      z-index: 100;
      top: 50%;
      transform: translateY(-50%);
    }
  }
</style>
